* {
  box-sizing: border-box; }

figure, blockquote, article {
  margin: 0; }

h1, h2, h3, h4, p, summary, figcaption, .header {
  font-family: "Arial";
  font-weight: 400; }

.timeline {
  position: fixed;
  top: 50px;
  left: 100px;
  width: 50px;
  height: 50px;
  padding: 15px 0;
  background-color: #445161;
  border: 1px solid #fff;
  border-radius: 100%;
  transition: all 0.5s ease-out; }
  .timeline-text {
    display: none;
    height: 30px;
    color: #333333; }
  .timeline:hover {
    transform: scale(2); }
  .timeline:hover .timeline-text {
    display: block;
    margin-left: 60px; }

.block {
  padding: 50px; }

.wrapper-main {
  width: 1280px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.block-product {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #445161;
  color: white; }
  .block-product section {
    font-size: 20px;
    line-height: 36px; }
  .block-product .img-product {
    background: #fff;
    width: 470px;
    height: 215px; }
  .block-product h1 {
    font-size: 60px; }
  .block-product li {
    position: relative;
    list-style: none; }
    .block-product li:after {
      content: "";
      background-color: transparent;
      position: absolute;
      left: -28px;
      top: 5px;
      width: 8px;
      border-bottom: 6px solid #fff;
      height: 15px;
      border-right: 6px solid #fff;
      transform: rotate(45deg); }

.block-about {
  background: #fcfcfc;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .block-about .art-about {
    width: 650px; }
  .block-about h3 {
    color: #445161;
    font-size: 30px; }
  .block-about p {
    color: #333333;
    font-size: 16px;
    line-height: 24px; }
  .block-about .img-about {
    background: #445161;
    width: 430px;
    height: 245px; }

.block-dignity {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 30px; }
  .block-dignity h3 {
    color: #445161;
    font-size: 30px;
    margin-top: 0; }
  .block-dignity .wrapper-dignity {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between; }
    .block-dignity .wrapper-dignity .text {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 570px;
      color: #333333;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 20px; }
    .block-dignity .wrapper-dignity details {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-left: 40px; }
      .block-dignity .wrapper-dignity details .siding {
        position: absolute;
        left: 0;
        min-width: 32px;
        min-height: 32px;
        margin-right: 9px;
        margin-top: 5px;
        background: #445161;
        padding: 5px; }
      .block-dignity .wrapper-dignity details summary {
        outline: none; }
        .block-dignity .wrapper-dignity details summary::-webkit-details-marker {
          display: none; }
        .block-dignity .wrapper-dignity details summary::before {
          content: "";
          position: absolute;
          top: 9px;
          left: 14px;
          width: 4px;
          height: 24px;
          background-color: #fff;
          transition: all 0.5s ease-in;
          z-index: 1; }
        .block-dignity .wrapper-dignity details summary::after {
          content: "";
          position: absolute;
          top: 19px;
          left: 4px;
          width: 24px;
          height: 4px;
          background-color: #fff; }
    .block-dignity .wrapper-dignity details[open] summary::before {
      transform: rotate(90deg); }
    .block-dignity .wrapper-dignity .summary {
      margin: 0; }

.block-screenshots {
  background: #fcfcfc;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around; }
  .block-screenshots h3 {
    color: #445161;
    font-size: 30px;
    margin-top: 0; }
  .block-screenshots .screenshots-wrapper {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 330px; }
    .block-screenshots .screenshots-wrapper .screenshot-block {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 575px;
      color: #333333; }
      .block-screenshots .screenshots-wrapper .screenshot-block figure .screenshot {
        float: left;
        background: #445161;
        width: 200px;
        height: 150px;
        margin-top: 5px;
        margin-right: 15px; }
      .block-screenshots .screenshots-wrapper .screenshot-block figure figcaption {
        color: #445161;
        font-size: 24px;
        line-height: 30px;
        margin: 0; }
      .block-screenshots .screenshots-wrapper .screenshot-block figure p {
        font-size: 16px;
        line-height: 24px;
        margin: 5px 0; }

.block-reviews {
  background: #f2f2f2;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around; }
  .block-reviews h3 {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
    margin-top: 0; }
  .block-reviews .review-wrapper {
    height: 270px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between; }
    .block-reviews .review-wrapper .review-block {
      display: flex;
      align-items: flex-start;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 575px; }
      .block-reviews .review-wrapper .review-block .img-photo {
        background: #445161;
        min-width: 75px;
        min-height: 75px;
        border-radius: 100%;
        margin-top: 5px;
        margin-right: 15px; }
      .block-reviews .review-wrapper .review-block .art-quote {
        border-radius: 5px;
        width: 480px;
        height: 120px;
        background: #e8e8e8;
        padding: 15px;
        position: relative; }
        .block-reviews .review-wrapper .review-block .art-quote__text {
          color: #333333;
          font-size: 14px;
          font-style: italic;
          line-height: 18px;
          margin: 0 0 15px 0; }
        .block-reviews .review-wrapper .review-block .art-quote__sgn {
          color: #989898;
          font-size: 14px;
          line-height: 18px;
          margin: 0; }
        .block-reviews .review-wrapper .review-block .art-quote:after {
          content: "";
          position: absolute;
          right: 100%;
          top: 26px;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-right: 13px solid #e8e8e8;
          border-bottom: 13px solid transparent; }

.block-buy {
  background: #fcfcfc;
  padding: 50px 145px; }
  .block-buy h3 {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #445161; }
  .block-buy h4 {
    margin: 0; }
  .block-buy .wrapper-buy {
    height: 500px;
    display: flex;
    align-items: flex-end;
    flex-flow: row-reverse wrap;
    justify-content: space-between; }
    .block-buy .wrapper-buy .prop-lux {
      height: 500px;
      background: #445161; }
    .block-buy .wrapper-buy .prop-premium {
      height: 400px;
      background: #445161; }
    .block-buy .wrapper-buy .prop-standart {
      height: 300px;
      background: #445161; }
    .block-buy .wrapper-buy .prop {
      position: relative;
      width: 300px;
      border-radius: 5px;
      text-align: center; }
      .block-buy .wrapper-buy .prop .header {
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        padding: 10px; }
      .block-buy .wrapper-buy .prop .price {
        background: #fff;
        color: #445161;
        font-size: 40px;
        line-height: 30px;
        padding: 18px;
        border: 2px solid #445161; }
      .block-buy .wrapper-buy .prop .desc {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        padding: 15px; }
        .block-buy .wrapper-buy .prop .desc ol {
          margin: 0; }
      .block-buy .wrapper-buy .prop button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 260px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #445161;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px; }
        .block-buy .wrapper-buy .prop button:active {
          bottom: 18px; }

footer {
  background: #445161; }
  footer .footer-bg {
    padding: 50px 220px; }
    footer .footer-bg .header {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 300px;
      text-align: center;
      color: #fff;
      font-size: 30px;
      line-height: 36px; }
    footer .footer-bg .wrapper-footer {
      display: flex;
      align-items: flex-start;
      flex-flow: row nowrap;
      justify-content: space-around; }
      footer .footer-bg .wrapper-footer form {
        width: 500px;
        height: 340px; }
        footer .footer-bg .wrapper-footer form input {
          position: relative;
          width: 100%;
          height: 40px;
          margin-bottom: 15px;
          outline: none;
          border-radius: 5px;
          border: none;
          font-size: 16px;
          line-height: 24px;
          color: #445161;
          padding-left: 10px;
          transition: padding 0.5s ease; }
          footer .footer-bg .wrapper-footer form input:focus {
            background-color: #fbffd8;
            padding-left: 15px; }
        footer .footer-bg .wrapper-footer form textarea {
          width: 100%;
          height: 170px;
          margin-bottom: 15px;
          padding-left: 10px;
          padding-right: 10px;
          resize: none;
          outline: none;
          border-radius: 5px;
          border: none;
          font-size: 16px;
          line-height: 24px;
          color: #445161;
          font-family: "Arial";
          transition: padding 0.5s ease; }
          footer .footer-bg .wrapper-footer form textarea:focus {
            padding-left: 15px;
            padding-right: 15px; }
        footer .footer-bg .wrapper-footer form button {
          display: block;
          width: 140px;
          height: 40px;
          margin: 0 auto;
          background: #fff;
          outline: none;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px; }
          footer .footer-bg .wrapper-footer form button:active {
            margin-top: 2px; }
      footer .footer-bg .wrapper-footer .wrapper-contact {
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 240px;
        height: 230px; }
        footer .footer-bg .wrapper-footer .wrapper-contact .contact__item {
          position: relative;
          width: 100%;
          font-size: 18px;
          line-height: 24px;
          color: #fff;
          padding-left: 30px;
          vertical-align: top; }
          footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--skype:before {
            position: absolute;
            left: 0;
            content: url(../img/skype.png); }
          footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--icq:before {
            position: absolute;
            left: 0;
            content: url(../img/icq.png); }
          footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--mail:before {
            position: absolute;
            left: 0;
            content: url(../img/mail.png); }
          footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--phone:before {
            position: absolute;
            left: 0;
            content: url(../img/phone.png); }
          footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--social {
            padding-left: 0;
            align-self: flex-end;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: space-around; }
            footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--social .pic {
              width: 48px;
              height: 42px;
              background: url(../img/social.png) 0 0; }
            footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--social .pic--facebook {
              background-position: -47px 0; }
            footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--social .pic--insta {
              background-position: -96px 0; }
            footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--social .pic--gplus {
              background-position: -146px 0; }
            footer .footer-bg .wrapper-footer .wrapper-contact .contact__item--social .pic--youtube {
              background-position: -193px 0; }
  footer .footer-sm {
    background: #f2f2f2;
    height: 25px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 25px;
    color: #445161;
    text-align: center;
    vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
